# This is the "AT Translated Set 2 keyboard" the BIOS uses to convey power button presses

KERNEL=="event[0-9]*", ATTRS{phys}=="isa0060/serio0/input0", MODE="0660", TAG+="uaccess"
