[Unit]
Description=Jupiter Controller Firmware Update Service
Before=display-manager.service

[Service]
Type=oneshot
ExecStart=/usr/bin/jupiter-controller-update

# Fail if we cannot update within 160 seconds.
TimeoutStartSec=160
TimeoutStopSec=10
Restart=no

[Install]
WantedBy=multi-user.target
