# From https://serverfault.com/a/767079
# Please don't ship as-is
# This gets triggered from a udev rule, just to run a script
# Running the script directly from udev apparently wouldn't work
# because it has no caps?

[Unit]
Description=Mount SD card on %i

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/lib/hwsupport/sdcard-mount.sh add %i
ExecStop=/usr/lib/hwsupport/sdcard-mount.sh remove %i
